* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divider {
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.23);
  width: 759px;
  margin-bottom: -10px;
  z-index: 1000;
}

.searchHeaders {
  color: #fff;
  margin-top: 50px;
  font-size: 36px;
}
